.admin_container{
    display: flex;

    .lastseen_details{
        p{
            font-size: 1em;
            padding: 0.3em 0; 
        }
    }

    .dashboard_infor{
        width: calc(100% - $asidenav_width);
        padding-left: 0.9em;

        .admin_dashboard{
            // *{border: 2px solid $accent-color}
            @include grid(4);
            gap: 1.5em;
            padding: 0.5em 0;

            .admin_items{
                @include flex_center;
                gap: 1em;
                background: $text-color;
                padding: 0.4em 0;
                border-radius: 16px;
                color: $background-color;

                i,p,span{
                    font-size: 0.9em;
                    padding: 0.2em 0;
                }

                span{
                    @include flex_center;
                }
            }
        }
    }
}