.admin_container{
    display: flex;

    .lastseen_details{
        p{
            font-size: 1.1em;
            padding: 0.2em 0; 
        }
    }

    .dashboard_infor{
        width: calc(100% - $asidenav_width);
        padding-left: 0.9em;

        .admin_dashboard{
            @include grid(5);
            gap: 0.9em;
            padding: 0.8em;

            .admin_items{
                @include flex_center;
                gap: 1em;
                background: $text-color;
                padding: 0.4em;
                border-radius: 16px;
                color: $background-color;

                i,p,span{
                    font-size: 1.1em;
                }

                span{
                    @include flex_center;
                }
            }
        }
    }
}