*{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, sans-serif;
    box-sizing: border-box;
}

body{
    background-color: $background-color;
    color: $text-color;
}

html{
    scroll-behavior: smooth;
}

.login{
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.5)), url('/public/assets/images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

.main_container{
    padding: 1.5em 3%;
    margin: 0 0 3em;
}
