.home_container{
    .hero_container{
        position: relative;
        width: 100%;
        height: 100vh;
        overflow: hidden;

        video {
            position: absolute;
            top: 50%;
            left: 50%;
            min-width: 100%;
            min-height: 100%;
            width: auto;
            height: auto;
            z-index: -1;
            transform: translate(-50%, -50%);
            object-fit: cover;
        }

        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.7); 
            z-index: -1;
        }
        
        .hero_content{
            @include flex_center;
            flex-direction: column;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            
            h1{
                color: $background-color;
                font-size: 3em;
            }

            p{
                color: $background-color;
                font-size: 1.3em;
                padding: 0.5em;
                font-weight: 550;
            }

            .button{
                cursor: pointer;
                font-weight: 550;
                padding: 2em 0;
                @include flex_center;
                gap: 3em;
                
                a{
                    @include anchor;
                    color:$background-color;  
                    background: $text-color;
                    border: none;
                    padding: 0.6em 1.5em;
                    border-radius: 8px;
                    font-size: 1.1em;
                    margin: 0.9em 0;
                    
                    &:hover {
                        box-shadow: 0.2px 0.2px 0.2px $background-color;
                    }

                }
            }
        }
    } 
    
    .content_container{
        h2{
            font-size:1.8em;
        }

        .content_item{
            @include grid(3);
            padding: 1.5em 0;

            .content_infor{
                background: $text-color;
                padding: 1em;
                color: $background-color;
                border-radius: 12px;

                h3{
                    font-size: 1.2em;
                    padding: 0.3em 0;
                }

                &:hover{
                    background: $background-color;
                    color: $text-color;
                    box-shadow: 2px 3px 3px $text-color;
                }
            }
        }
    }

}


@media screen and (width <=726px) {
    .home_container{
        .hero_container{
            height: 50vh;
    
            .hero_content{
                top: 50%;
                width: 80%;

                h1{
                    font-size: 1.4em;
                }

                p {
                    font-size: 1em;
                }

                .button{
                    flex-direction: column;
                }
            }
        }

        .content_container{
            margin: 0 0.6em;

           h2{
                font-size: 1.3em;
           } 
        }
    }
}