.home_container{
    .hero_container{
        background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.3))
                            ,url('/public/assets/images/img2.jpg');
        background-size:cover;
        background-repeat: no-repeat;
        background-position:top;
        height: 90vh;
        margin: 0 0 3em;

        .hero_content{
            @include flex_center;
            flex-direction: column;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            
            h1{
                color: $background-color;
                font-size: 3em;
            }

            p{
                color: $background-color;
                font-size: 1.3em;
                padding: 0.5em;
                font-weight: 550;
            }

            .button{
                border: none;
                padding: 0.6em 1.5em;
                border-radius: 8px;
                font-size: 1.1em;
                background: $text-color;
                cursor: pointer;
                font-weight: 550;
                
                a{
                    @include anchor;
                    color:$background-color;                    
                }
            }
        }
    } 
    
    .content_container{
        h2{
            font-size:1.8em;
        }

        .content_item{
            @include grid(3);
            padding: 1.5em 0;

            .content_infor{
                background: $text-color;
                padding: 1em;
                color: $background-color;
                border-radius: 12px;

                h3{
                    font-size: 1.2em;
                    padding: 0.3em 0;
                }

                &:hover{
                    background: $background-color;
                    color: $text-color;
                    box-shadow: 2px 3px 3px $text-color;
                }
            }
        }
    }

    .collection_container{
        .header{
            @include flex_center;
            justify-content: space-between;
            padding: 0.8em 0.3em;

            .link{
                background: $text-color;
                padding: 0.4em 1.2em;
                border-radius: 8px;
                
                a{
                    @include anchor;
                    color: $background-color;
                }
            }
        }

        .collection_item{
            @include grid(3);
            gap: 1.8em;
            
            .collection_infor{
                box-shadow: 2px 3px 3px $text-color;
                padding: 0.9em;
                border-radius: 12px;

                .img{
                    @include flex_center;

                    img{
                        width: 95%;
                        height: 35vh;
                        border-radius: 8px;
                    }
                }

                .title{
                    @include flex_center;
                    justify-content: space-between;
                    padding: 0.3em;

                    p{
                        background: $expirence-color;
                        border-radius: 8px;
                        a{
                            @include anchor;
                            padding: 0 0.3em;
                            font-size: 1.1em;
                        }
                    }
                }

                .price{
                    padding: 0.3em;
                    font-size: 1.2em;
                    
                    span{
                        font-weight: bold;
                        color: $success-color;
                    }
                }
            }
        }
    }
}


@media screen and (width <=726px) {
    .home_container{
        .hero_container{
            height: 50vh;
    
            .hero_content{
                top: 32%;
                left: 50%;
                width: 90%;

                h1{
                    font-size: 1.1em;
                }
            }
        }

        .content_container{
            margin: 0 0.6em;

           h2{
                font-size: 1.3em;
           } 
        }

        .collection_container{
            margin: 0 0.6em;

            .header{
                h1{
                    font-size: 1.5em;
                }
            }

        }
    }
}