.home_container{
    .hero_container{
        background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.3))
                            ,url('/public/assets/images/img2.jpg');
        background-size:cover;
        background-repeat: no-repeat;
        background-position:top;
        height: 90vh;
        margin: 0 0 3em;

        .hero_content{
            @include flex_center;
            flex-direction: column;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            
            h1{
                color: $background-color;
                font-size: 3em;
            }

            p{
                color: $background-color;
                font-size: 1.3em;
                padding: 0.5em;
                font-weight: 550;
            }

            .button{
                border: none;
                padding: 0.6em 1.5em;
                border-radius: 8px;
                font-size: 1.1em;
                background: $text-color;
                cursor: pointer;
                font-weight: 550;
                
                a{
                    @include anchor;
                    color:$background-color;                    
                }
            }
        }
    }    
}


@media screen and (width <=726px) {
    .home_container{
        .hero_container{
            height: 50vh;
    
            .hero_content{
                top: 32%;
                left: 50%;
                width: 90%;

                h1{
                    font-size: 1.1em;
                }
            }
        }
    }
}