.user_container{
    h2{
        padding: 0.5em 0;
    }

    ul{
        list-style: none;
        padding: 1.2em 0;

        li{
            padding: 0.5em 0;

            span{
                padding: 0 0.4em;
                font-weight: 550;
            }
        }
    }
}