.user_container{
    h2{
        padding: 0.5em 0;
    }

    p{
        padding: 0.4em 0.8em;
        font-size: 1.1em;
    }

    ul{
        list-style: none;
        padding: 1.2em 0;

        li{
            padding: 0.5em 0;

            span{
                padding: 0 0.4em;
                font-weight: 550;
            }
        }
    }
}