* {
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", Tahoma, sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #Fbfffe;
  color: #001514;
}

html {
  scroll-behavior: smooth;
}

.login {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url("/public/assets/images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}

.main_container {
  padding: 1.5em 3%;
  margin: 0 0 3em;
}

.navbar_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 2px 2px 3px #001514;
  position: sticky;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  top: 0;
  left: 0;
  z-index: 100;
  height: 10vh;
  padding: 0 0.9em;
}
.navbar_container .nav_logo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 0.5em;
}
.navbar_container .nav_logo .logo img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.navbar_container .nav_logo .home a {
  text-decoration: none;
  color: #001514;
  font-size: 1.3em;
  font-weight: 550;
}
.navbar_container .nav_links ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  flex-direction: row;
}
.navbar_container .nav_links ul li {
  padding: 0 0.4em;
}
.navbar_container .nav_links ul li a {
  text-decoration: none;
  color: #001514;
  font-size: 1.1em;
  font-weight: 500;
}
.navbar_container .nav_links ul .profile {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar_container .nav_links ul .profile .logout {
  background: #f00920;
}
.navbar_container .nav_links ul .profile .profiles {
  margin: 0 0.5em;
  border: 1px solid #001514;
  border-radius: 50%;
  padding: 0.3em;
}
.navbar_container .nav_links ul .profile button {
  background: #001514;
  border: none;
  border-radius: 8px;
  padding: 0.5em 1.2em;
}
.navbar_container .nav_links ul .profile button a {
  text-decoration: none;
  color: #001514;
  color: #Fbfffe;
  font-weight: 550;
}
.navbar_container .burger {
  display: none;
  cursor: pointer;
}
.navbar_container .burger span {
  height: 3px;
  width: 30px;
  display: block;
  margin: 0.5em 0;
  background-color: #001514;
  color: #001514;
}

@media screen and (width <= 726px) {
  .navbar_container .nav_links {
    display: none;
  }
  .navbar_container .nav_links ul {
    display: none;
    width: 50%;
    height: 60vh;
    background: #001514;
    position: absolute;
    flex-direction: column;
    align-items: flex-end;
    padding: 0.5em 1em;
    gap: 1em 0;
    top: 10vh;
    right: 0.1em;
  }
  .navbar_container .nav_links ul li {
    width: 80%;
    margin: auto;
  }
  .navbar_container .nav_links ul li a {
    text-decoration: none;
    color: #001514;
    color: #Fbfffe;
  }
  .navbar_container .nav_links ul .profile {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    justify-content: left;
    gap: 0.9em;
  }
  .navbar_container .nav_links ul .profile .profiles {
    border-radius: 50%;
    border: 1px solid #Fbfffe;
    padding: 0.3em;
  }
  .navbar_container .nav_links ul .profile .btn {
    background: #Fbfffe;
    padding: 0.5em 1.9em;
    color: #001514;
    font-weight: bold;
    border: none;
    border-radius: 4px;
  }
  .navbar_container .show {
    display: block !important;
  }
  .navbar_container .show ul {
    display: flex;
  }
  .navbar_container .burger {
    display: block;
  }
  .navbar_container .active_burger span {
    transition: transform 0.3s ease, opacity 0.3s ease;
  }
  .navbar_container .active_burger span:nth-child(1) {
    transform: rotate(-45deg) translate(-7px, 8px);
  }
  .navbar_container .active_burger span:nth-child(2) {
    opacity: 0;
  }
  .navbar_container .active_burger span:nth-child(3) {
    transform: rotate(45deg) translate(-7px, -8px);
  }
}
form input,
form textarea,
form select {
  padding: 0.5em 0.9em;
  width: 100%;
  border-radius: 8px;
  border: 1px solid gray;
  margin: 0.5em 0;
  font-size: 0.9em;
}
form button {
  border: none;
  padding: 0.4em 1.5em;
  border-radius: 8px;
  font-size: 1.1em;
  color: #Fbfffe;
  background: #d2691e;
  cursor: pointer;
  font-weight: 550;
}
form .group {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5em;
}
@media screen and (width > 726px) {
  form .group {
    grid-template-columns: repeat(2, 1fr);
  }
}

.authentication_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}
.authentication_container form {
  width: 35%;
  padding: 0.6em 1.2em;
  border-radius: 16px;
  box-shadow: 2px 2px 3px #001514;
  background-color: #Fbfffe;
}
.authentication_container form p {
  padding: 0.9em 0;
}
.authentication_container form h1 {
  text-align: center;
}
.authentication_container form .input_group {
  padding: 0.3em 0;
  width: 100%;
  margin: 0 0 0.3em;
  color: #001514;
}
.authentication_container form .input_group input {
  margin: 0.5em 0;
}
.authentication_container form label {
  font-weight: 500;
  padding: 0.5em 0;
  font-size: 0.95em;
}
.authentication_container form .custom_radio_buttons {
  display: flex;
}
.authentication_container form .custom_radio_buttons label {
  padding: 0.3em 0.2em;
  margin: 0.5em 0;
  position: relative;
  cursor: pointer;
  width: 30%;
  display: flex;
  align-items: center;
}
.authentication_container form .custom_radio_buttons label .option_radio {
  position: relative;
  margin: 0 0.1em 0 0;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: auto;
  border: unset;
}
.authentication_container form .custom_radio_buttons label .option_radio:before {
  transition: transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
  transform: scale(0, 0);
  content: "";
  position: absolute;
  top: 0;
  left: 0.125rem;
  z-index: 1;
  width: 0.75rem;
  height: 0.75rem;
  background: #16a085;
  border-radius: 50%;
}
.authentication_container form .custom_radio_buttons label .option_radio:checked:before {
  transform: scale(1, 1);
}
.authentication_container form .custom_radio_buttons label .option_radio:after {
  content: "";
  position: absolute;
  top: -0.25rem;
  left: -0.125rem;
  width: 1rem;
  height: 1rem;
  background: #fff;
  border: 2px solid #d6d6d6;
  border-radius: 50%;
}

@media screen and (width <= 726px) {
  .authentication_container form {
    width: 85%;
  }
}
.alert {
  padding: 1em;
  border-radius: 4px;
  color: #fff;
  font-weight: bold;
  position: absolute;
  right: 0;
  top: 10vh;
  width: 30%;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.alert-danger {
  background: #eb0404;
}

.alert-success {
  background: #02a81d;
}

.alert-warning {
  background: #c28005;
}

.inline_alert {
  margin: 0.1em 0 0;
  font-weight: bold;
  color: #eb0404;
}

.inline_alert_success {
  padding: 0.5em;
  margin: 0.5em 0;
  color: #02a81d;
}

@media screen and (width <= 726px) {
  .alert {
    width: 80%;
  }
}
.footer_container {
  background: #001514;
}
.footer_container .footer_content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5em;
  padding: 0.5em 0.9em;
}
@media screen and (width > 726px) {
  .footer_container .footer_content {
    grid-template-columns: repeat(3, 1fr);
  }
}
.footer_container .footer_content p, .footer_container .footer_content h3 {
  color: #Fbfffe;
  padding: 0.2em 0;
}
.footer_container .footer_content .footer_infor img {
  border-radius: 50%;
}
.footer_container .footer_content .footer_links .links {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: left;
  align-items: unset;
  gap: 0.3em;
  padding: 0.3em;
}
.footer_container .footer_content .footer_links .links a {
  text-decoration: none;
  color: #001514;
  color: #Fbfffe;
}
.footer_container .footer_content .footer_links .links a:hover {
  color: #d2691e;
}
.footer_container .footer_content .footer_social .social_media {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: left;
  gap: 0.9em;
  padding: 0.5em 0;
}
.footer_container .footer_content .footer_social .social_media a img {
  width: 28px;
  height: 28px;
}
.footer_container .copyright {
  padding: 0.2em 0;
  text-align: center;
  color: #Fbfffe;
}

.home_container .hero_container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url("/public/assets/images/image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 90vh;
}
.home_container .hero_container .hero_content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.home_container .hero_container .hero_content h1 {
  color: #Fbfffe;
  padding-bottom: 0.9em;
}
.home_container .hero_container .hero_content .button {
  border: none;
  padding: 0.6em 1.5em;
  border-radius: 8px;
  font-size: 1.1em;
  background: #001514;
  cursor: pointer;
  font-weight: 550;
}
.home_container .hero_container .hero_content .button a {
  text-decoration: none;
  color: #001514;
  color: #Fbfffe;
}

@media screen and (width <= 726px) {
  .home_container .hero_container {
    height: 50vh;
  }
  .home_container .hero_container .hero_content {
    top: 32%;
    left: 50%;
    width: 90%;
  }
  .home_container .hero_container .hero_content h1 {
    font-size: 1.1em;
  }
}
.contact_container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5em;
}
@media screen and (width > 726px) {
  .contact_container {
    grid-template-columns: repeat(2, 1fr);
  }
}
.contact_container .contact_infor {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: start;
  font-size: 1.5em;
  font-weight: bold;
  gap: 0.3em;
}
.contact_container .contact_form .input_group .input_content {
  position: relative;
  padding: 0.6em 0;
}
.contact_container .contact_form .input_group .input_content label {
  position: absolute;
  top: 25px;
  left: 5px;
  transition: top 0.3s ease-in-out, opacity 0.3s ease-in-out;
  pointer-events: none;
}
.contact_container .contact_form .input_group .input_content label i {
  padding: unset;
  margin: 0 0.3em;
}
.contact_container .contact_form .input_group input[type=text],
.contact_container .contact_form .input_group input[type=email],
.contact_container .contact_form .input_group textarea {
  width: 100%;
  padding: 0.9em 1em;
  color: #001514;
  background: #Fbfffe;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  border: 1px solid grey;
}
.contact_container .contact_form .input_group input:focus ~ label,
.contact_container .contact_form .input_group input:valid ~ label,
.contact_container .contact_form .input_group textarea:focus ~ label,
.contact_container .contact_form .input_group textarea:valid ~ label {
  top: 5px;
  opacity: 1;
  background: #Fbfffe;
  font-size: 0.85em;
  padding: 0.2em;
}
.contact_container .contact_form button {
  padding: 0.5em 2em;
  border-radius: 8px;
  background: #001514;
  color: #Fbfffe;
  font-weight: bold;
  border: none;
}

@media screen and (width <= 726px) {
  .contact_container {
    padding: 0.9em 5%;
  }
  .contact_container p {
    font-size: 1em;
    padding: 0.3em 0;
  }
  .contact_container .contact_form input[type=text],
  .contact_container .contact_form input[type=email] {
    height: 7vh;
  }
  .contact_container .contact_form label {
    font-size: 1.2em;
  }
}
.about_container .about_history {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5em;
}
@media screen and (width > 726px) {
  .about_container .about_history {
    grid-template-columns: repeat(2, 1fr);
  }
}
.about_container .about_history .about_content {
  padding: 0.9em 0;
}
.about_container .about_history .about_content h2, .about_container .about_history .about_content p {
  margin: 0.9em 0;
}
.about_container .about_history .about_image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about_container .about_history .about_image img {
  width: 90%;
  height: 65vh;
  border-radius: 24px;
}
.about_container .goals {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5em;
  margin: 1.2em 0;
}
@media screen and (width > 726px) {
  .about_container .goals {
    grid-template-columns: repeat(2, 1fr);
  }
}
.about_container .goals .mission, .about_container .goals .vission {
  padding: 0 0.5em;
  box-shadow: 3px 3px 5px #001514;
  border-radius: 12px;
}
.about_container .goals h3, .about_container .goals p {
  margin: 0.9em 0;
}
.about_container .team_container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5em;
  gap: 2em;
}
@media screen and (width > 726px) {
  .about_container .team_container {
    grid-template-columns: repeat(4, 1fr);
  }
}
.about_container .team_container .works {
  margin: 1.2em 0;
  padding: 0.5em;
  border: 1px solid #001514;
  border-radius: 24px;
}

@media screen and (width <= 726px) {
  .about_container .about_history .about_image {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */